:root {
  --oui-font-family: 'Montserrat', sans-serif;
  --oui-font-size-base: 8px;

  /* colors */
  --oui-color-primary: 0 255 136;
  --oui-color-primary-light: 120 255 180;
  --oui-color-primary-darken: 0 200 100;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 0 255 136;
  --oui-color-link-light: 120 255 180;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 10 30 20;
  --oui-color-fill-active: 0 40 20;

  --oui-color-base-1: 20 40 30;
  --oui-color-base-2: 18 36 28;
  --oui-color-base-3: 16 32 26;
  --oui-color-base-4: 14 28 24;
  --oui-color-base-5: 12 24 20;
  --oui-color-base-6: 10 20 18;
  --oui-color-base-7: 8 18 16;
  --oui-color-base-8: 6 14 12;
  --oui-color-base-9: 4 10 8;
  --oui-color-base-10: 0 8 6;

  --oui-color-base-foreground: 0 255 136;
  --oui-color-line: 0 255 136;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 255 136;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 0 100 50;
  --oui-gradient-primary-end: 0 255 136;

  --oui-gradient-secondary-start: 0 80 40;
  --oui-gradient-secondary-end: 0 200 100;

  --oui-gradient-success-start: 0 80 40;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 0 200 100;
  --oui-gradient-brand-end: 0 255 136;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 0 10 5;
  --oui-gradient-neutral-end: 0 20 10;

  /* rounded */
  --oui-rounded-sm: 0px;
  --oui-rounded: 0px;
  --oui-rounded-md: 0px;
  --oui-rounded-lg: 0px;
  --oui-rounded-xl: 0px;
  --oui-rounded-2xl: 0px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 8px !important;
}